<?xml version="1.0" encoding="utf-8"?>
<ruleset
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd"
    name="My coding standard"
>
    <description>My coding standard</description>

    <arg value="p"/>
    <arg name="colors"/>

    <rule ref="PSR12"/>
    <rule ref="Generic.PHP.DeprecatedFunctions"/>
    <rule ref="Generic.Arrays.DisallowLongArraySyntax"/>

    <!-- The soft limit on line length MUST be 120 characters;
    automated style checkers MUST warn but MUST NOT error at the soft limit. -->
    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="lineLimit" value="120"/>
            <property name="absoluteLineLimit" value="0"/>
        </properties>
    </rule>

    <!-- The closing ?> tag MUST be omitted from files containing only PHP. -->
    <rule ref="Zend.Files.ClosingTag"/>

    <!-- All PHP files MUST use the Unix LF (linefeed) line ending. -->
    <rule ref="Generic.Files.LineEndings">
        <properties>
            <property name="eolChar" value="\n"/>
        </properties>
    </rule>

    <rule ref="PSR1.Classes.ClassDeclaration">
        <exclude-pattern>tests/bootstrap.php</exclude-pattern>
    </rule>

    <!-- Paths to check -->
    <file>src</file>
    <file>tests</file>

    <!-- <exclude-pattern>tests/bootstrap.php</exclude-pattern> -->
</ruleset>
